<!DOCTYPE html>

<h1>Books in Space!</h1>

<div>
<a href="/books/new">Add a Book</a>
</div>

<ul>
	<% if @books %>
		<% @books.each do |book| %>
			<li><a href="/books/<%= book.id %>"><%= book.title %></a>
				<p><%= book.description %></p>
				<a href="<% book.url%>"><%= book.url %> </a>
				<p>Posted by (add in if astronaut or candidate)</p>
			</li>

		<% end %>
	<% end %>
</ul>