<!DOCTYPE html>

<h3><%= @book.title %></h3>

<p><%= @book.description %></p>
<a href="<% @book.url%>"><%= @book.url %></a>

<h5>Would you like to add a review of this book?</h5>
<a href="/books/<%=@book.id%>/reviews/new">Click here</a>




<div><a href="/books">Back</a></div>